:root {
  --blue: #18172D;
  --light-blue: #282745;
  --dark-blue: #131224;
  --border-radius: 6px;
  --bright-blue: #28A3F1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--blue);
}

.wrapper {
  max-width: 900px;
  margin: auto;
  height: 100%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.hero .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0 24px;
  justify-content: space-between;
}

.logo {
  padding: 0 24px;
  margin: 0 -24px;
}

.btn {
  align-items: center;
  background-color: var(--light-blue);  
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  padding: 14px 18px;
}

.btn--github img {
  margin-left: 8px;
}


.hero h1 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 60px;
}

.hero__phone .phone {
  width: 300px;
  position: relative;
  z-index: 2;
}

h1 strong {
  font-weight: 700;
}

h5,
p {
  margin: 0;
  color: white;
}

.hero__phone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__phone .dots {
  position: absolute;
  top: -25%;
  right: -55%;
  z-index: -1;
} 

.btn--primary {
  background: var(--bright-blue);
  box-shadow: 0 30px 60px -10px rgba(40, 163, 241, 0.25);
  font-size: 16px;
  font-weight: 600;
  padding: 18px 60px;
  border-radius: 30px;
}

.features {
  display: flex;
  position: relative;
  background: var(--dark-blue);
  padding: 80px 0;
}

.features::before {
  display: block;
  height: 200px;
  content: '';
  top: -200px;
  left: 0;
  width: 100%;
  position: absolute;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  background: var(--dark-blue);
}

.features__img {
  width: 600px;
}

.features .wrapper {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.feature {
  display: flex;
  margin-left: 24px;
}

.feature h5 {
  font-size: 16px;
  font-weight: 500;
}

.feature p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.75;
  padding-top: 8px;
  line-height: 22px;
}

.feature + .feature {
  margin-top: 40px;
}

.feature img {
  margin-right: 24px;
}

.get-started {
  padding: 120px 0;
}

.get-started h2 {
  font-weight: 600;
  padding-bottom: 32px;
  font-size: 36px;
  color: white;
}

.get-started h4 {
  font-size: 16px;
  color: white;
  font-weight: 700;
}

.hero::after {
  box-shadow: 0 50px 600px 100px var(--blue) inset;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  content: '';
  top: -100px;
  bottom: 0;
}

.hero {
  position: relative;
}

.get-started p {
  font-size: 14px;
  color: white;
  line-height: 22px;
  padding: 12px 0;
  font-weight: 300;
}

.get-started h5 {
  display: flex;
  align-items: center;
}

.get-started h5 img {
  margin-left: 12px;
}

.get-started__card {
  display: block;
  background: var(--dark-blue);
  padding: 32px;
  border-radius: 6px;
  transition: all 0.2s;
  cursor: pointer;
}

.get-started__card:hover:not(:active) {
  box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.15);
  transform: scale(1.025);
}

.get-started__card:first-child {
  margin-right: 6px;
}

.get-started__card:last-child {
  margin-left: 6px;
}

.get-started .wrapper {
  flex-direction: column;
  display: flex;
  height: auto;
}

.get-started .wrapper div {
  display: flex;
}